body{
    background: rgb(14, 53, 14);
}

.passwd{
    color: white;
    background: none;
    border: 2px solid yellowgreen;
    padding: 5px;
    font-size: 15px;
    margin-left: 10px;
    border-radius: 5px;
    transition: 0.4s;
}
.passwd:hover{
    background: yellowgreen;
}
.passwd:active{
    background: white;
    border: 2px solid white;
}

.reset{
    color: white;
    background: none;
    border: 2px solid red;
    padding: 5px;
    font-size: 15px;
    margin-left: 10px;
    border-radius: 5px;
    transition: 0.4s;
}
.reset:hover{
    background: red;
}
.reset:active{
    background: white;
    border: 2px solid white;
}

.electionsDiv{
    position: absolute;
    top: 10%;
    left: 5%;
    width: 330px;
    background-color: black;
    border-left: 7px solid rgb(151, 151, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adder{
    margin: 15px;
    margin-top: 30px;
    background: none;
    padding: 5px 40px;
    color: linen;
    font-size: 20px;
    font-weight: bolder;
    border: 2px solid green;
    border-radius: 7px;
    transition: 0.4s;
}
.adder:hover{
    background: green;
    transition: 0.2s;
}
.adder:active{
    background: white;
    border: 2px solid white;
}

.electionsDiv ul{
    padding: 0px;
}

.name{
    background: none;
    color: white;
    padding: 5px 25px;
    border: 2px solid rgb(0, 0, 158);
    border-radius: 20px;
    transition: 0.4s;
}
.name:hover{
    background: rgb(0, 0, 158);
}
.name:active{
    background: white;
    border: 2px solid white
    
}

.exclude{
    background: none;
    color: white;
    font-weight: bold;
    padding: 3px 15px;
    border: 2px solid red;
    border-radius: 15px;
    transition: 0.4s;
}
.exclude:hover{
    background: red;
}
.exclude:active{
    background: white;
    border: 2px solid white;
}

.electionsDiv li{
    list-style: none;
    text-indent: -1em;
    padding: 3px;
}

.electionAdder{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.electionAdder input[name = "electionName"]{
    background: none;
    border: none;
    border-bottom: 3px solid green;
    margin: 20px;
    text-align: center;
    color: white;
    transition: 0.4s;
}
.electionAdder input[name = "electionName"]:focus{
    border-bottom: 3px solid yellowgreen;
}

.electionAdder input[name = "electionSubmit"]{
    background: none;
    margin: 20px;
    padding: 3px 15px;
    border: 2px solid green;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    transition: 0.4s;
}
.electionAdder input[name = "electionSubmit"]:hover{
    background: green;
}
.electionAdder input[name = "electionSubmit"]:active{
    background: white;
    border: 2px solid white;
}


.candidatesDiv{
    position: absolute;
    top: 10%;
    left: 50%;
    width: 330px;
    background: black;
    border-left: 5px solid rgb(151, 151, 0);
    text-align: center;
}

.selectedElection{
    color: white;
    margin-bottom: 2px;
    margin-top: 5px;
    border-bottom: 2px dashed blue;
    padding: 2px;
}

.candidatesDiv form{
    visibility: hidden;
    margin: 10px;
}

.candidatesDiv input{
    margin: 5px;
    background: none;
    border: none;
    border-bottom: 3px solid green;
    margin: 20px;
    text-align: center;
    color: white;
    transition: 0.4s;
}

.candidatesDiv input[type = "text"]:focus{
    border-bottom: 2px solid yellowgreen;
}

.candidateAdder input[name = "candidateSubmit"]{
    background: none;
    margin: 20px;
    padding: 3px 15px;
    border: 2px solid green;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    transition: 0.4s;
}
.candidateAdder input[name = "candidateSubmit"]:hover{
    background: green;
}
.candidateAdder input[name = "candidateSubmit"]:active{
    background: white;
    border: 2px solid white;
}

.candidatesDiv li{
    list-style: none;
    text-indent: -1em;
    padding: 3px;
}
.startElection{
    background: none;
    border: 2px solid green;
    border-radius: 10px;
    padding: 9px 15px;
    color: white;
    font-size: 15px;
    transition: 0.4s;
}
.startElection:hover{
    background: green;
}
.startElection:active{
    background: white;
    border: 2px solid white;
}

#votingMachine{
    visibility: hidden;
    background-color: rgb(8, 31, 5);
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: cursive;
}

#voteTitle{
    color: white;
    width: 350px;
    text-align: center;
    margin: 15px;
}

#voter{
    margin: 50px;
    padding: 50px 100px;
    background: black;
    border: 2px solid rgb(124, 124, 0);
    border-radius: 20px;
}

#voter select{
    background: none;
    width: auto;
    border: 2px solid rgb(124, 124, 0);
    margin-right: 100px;
    padding: 6px 20px;
    border-radius: 7px;
    color: white;
}

#voter button{
    background: none;
    padding: 5px 15px;
    color: white;
    border-radius: 7px;
    border: 2px solid rgb(124, 124, 0);
    transition: 0.4s;
}
#voter button:hover{
    background: rgb(124, 124, 0);
}
#voter button:active{
    background: white;
    border: 2px solid white;
}

#finishVoting{
    background: none;
    color: white;
    font-weight: bold;
    padding: 7px 17px;
    border: 2px solid green;
    border-radius: 7px;
    transition: 0.4s;
}
#finishVoting:hover{
    background: green;
}
#finishVoting:active{
    background: white;
    border: 2px solid white;
}

#endElection{
    visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    background: rgb(8, 31, 5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: cursive;
}

#endElection table, th, td{
    border: 2px solid rgb(151, 151, 0);
    padding: 5px;
    text-align: center;
}

#endElection button{
    margin: 30px;
    background: none;
    color: white;
    border: 2px solid green;
    padding: 6px 25px;
    font-size: 25px;
    border-radius: 10px;
    transition: 0.4s;
}
#endElection button:hover{
    background: green;
}
#endElection button:active{
    background: white;
    border: 2px solid white;
}

.loader{
    color: white;
    padding: 10px;
    text-align: center;
    border: 2px solid rgb(124, 124, 0);
}

#helpLink:link{
    color: white;
    font-size: 25px;
    border: 2px solid yellow;
    padding: 4px;
}
#helpLink:visited{
    color: white;
    font-size: 25px;
    border: 2px solid yellow;
}
#helpLink:hover{
    color: yellow;
}